{% load static %}
{% static "images" as baseUrl %} 

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="refresh" content="60"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}"/>
    <style>
      .css-serial {
        counter-reset: serial-number;  /* Set the serial number counter to 0 */
      }
      
      .css-serial td:first-child:before {
        counter-increment: serial-number;  /* Increment the serial number counter */
        content: counter(serial-number);  /* Display the counter */
      }
    </style>

    
    <style>
      div.hidden {
        display: none;
      }
      </style>
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Ash Management</title>
  </head>
  <body>

          <!-- Image and text -->
      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="{% static 'images/download2.png'%}" width="100" height="50" alt="">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand pl-3 font-weight-bolder" style="font-size:150%;" href="/home ">ASH MANAGEMENT</a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item ">
              <a class="nav-link pl-5" href="/home ">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="/sale_detail">Sale Detail</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/dpr/dpr" >Report Generation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="/admin" >Manage Customers</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0"> -->
            <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
          <!-- </form> -->
        </div>
      </nav>
    <!-- carousel -->
    
    <!-- <div class="container-fluid border border-success"> -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active ">
              <img src="{% static 'images/new.png'%}" class="d-block w-100" alt="..." height="220px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/picture1.jpg'%}" class="d-block w-100" alt="..." height="220px">
          </div>
          <div class="carousel-item">
            <img src="{% static 'images/power.jpg'%}" class="d-block w-100" alt="..." height="220px">
          </div>
        </div>
      </div>
    

<div class="container-fluid my-2">
  <div class="row">
    <div class="col-lg-6">
      <div class="row mb-2">  
    <h2 class="text-info ml-3">Sale Detail</h2> 
    <button id="b3" class="btn btn-outline-success btn-xs mb-2 ml-5" style="font-size: 0.8em;" title="Yesterday Detail">Yesterday</button>
    <button id="b1" class="btn btn-outline-success btn-xs mb-2 ml-2" style="font-size: 0.8em;" title="Today Detail">Today </button>
    <button id="b2" class="btn btn-outline-success btn-xs mb-2 ml-2" style="font-size: 0.8em;" title="Monthly Detail" >Month</button>
    
      </div>

      <div >
        <div id="tab" >  

          <table class="table table-striped table-bordered table-hover table-sm ml-auto css-serial">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.no.</th>
                <th scope="col">Customer</th>
                <th scope="col">Quantity (MT)</th>
                <th scope="col">Bulkers</th>
              </tr>   
            </thead>
            <tbody>
            {% for x,y,z in sum_list %} 
                <tr>
                    <td scope="row"></td>
                    <td>{{x}}</td>
                    <td>{{y}}</td>
                    <td>{{z}}</td>
                
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="hidden" id="tab4" >  

          <table class="table table-striped table-bordered table-hover table-sm ml-auto css-serial">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.no.</th>
                <th scope="col">Customer</th>
                <th scope="col">Quantity (MT)</th>
                <th scope="col">Bulkers</th>
              </tr>   
            </thead>
            <tbody>
            {% for x,y,z in yestersum_list %} 
                <tr>
                    <td scope="row"></td>
                    <td>{{x}}</td>
                    <td>{{y}}</td>
                    <td>{{z}}</td>
                
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
          <div id="tab2" class="hidden">
          <table class="table table-striped table-bordered table-hover table-sm ml-auto css-serial">
          <thead class="thead-dark">
            <tr>
              <th scope="col">S.no.</th>
              <th scope="col">Customer</th>
              <th scope="col">Quantity (MT)</th>
              <th scope="col">Bulkers</th>
            </tr>   
          </thead>
          <tbody>
          {% for x,y,z in sum_list %} 
              <tr>
                  <td scope="row"></td>
                  <td>{{x}}</td>
                  <td>{{y}}</td>
                  <td>{{z}}</td>
              </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>

      <div class="hidden" id="tab3">
          <table class="table table-striped table-bordered table-hover table-sm ml-auto css-serial">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S.no.</th>
                <th scope="col">Customer</th>
                <th scope="col">Quantity (MT)</th>
                <th scope="col">Bulkers</th>
              </tr>   
            </thead>
            <tbody>
             {% for x,y,z in month_sum %}
                <tr>
                    <td scope="row"></td>
                    <td>{{x}}</td>
                    <td>{{y}}</td>
                    <td>{{z}}</td>
                
                </tr>
            {% endfor %}
            </tbody>
          </table>
      
        </div>
  </div>
  <div class="col-lg-6">
    <div class="row mb-2"> 
    <h2 class="text-info ml-3">Customer Balance</h2> 
    </div>
    <table class="table table-striped table-bordered table-hover table-sm ml-auto  css-serial">
      <thead class="thead-dark">
        <tr>
          <th scope="col">S.no.</th>
          <th scope="col">Customer</th>
          <th scope="col">Balance (INR)</th>
        </tr>   
      </thead>
      <tbody>
      {% for x,y in bal %}   
          <tr>
              <td scope="row"></td>
              <td>{{x}}</td>
              <td>{{y}}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
 </div>
</div>
</div>

<script>
  let i = document.getElementById('tab').innerHTML;
  console.log(i)
     document.getElementById('b1').addEventListener('click',function(){
    document.getElementById('tab').innerHTML = document.getElementById('tab2').innerHTML;
  })
    document.getElementById('b2').addEventListener('click',function(){
    document.getElementById('tab').innerHTML = document.getElementById("tab3").innerHTML;
  })
    document.getElementById('b3').addEventListener('click',function(){
    document.getElementById('tab').innerHTML = document.getElementById("tab4").innerHTML;
  })
</script>
 

 <!-- FOOTER -->
 <footer class="container">
  <p class="float-right"><a href="#">Back to top</a></p>
  <p>&copy; 2020 LARSEN & TOUBRO LIMITED,All rights reserved. &middot; <a href="https://www.larsentoubro.com/">L&T</a> &middot; <a href="https://www.lntpowerdevelopment.com/thermal-power-projects/nabha-power-ltd/">NPL</a></p>
</footer>
<!-- FOOTER -->
    
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html> 